/* COSMOS */

.c-black {
    display: block;
    content: url(images/cosmos/c-black.png);
    width: 2em;
    height: 2em;
}

.c-orange {
    display: block;
    content: url(images/cosmos/c-orange.png);
    width: 2em;
    height: 2em;
}

.c-pink {
    display: block;
    content: url(images/cosmos/c-pink.png);
    width: 2em;
    height: 2em;
}

.c-red {
    display: block;
    content: url(images/cosmos/c-red.png);
    width: 2em;
    height: 2em;
}

.c-white {
    display: block;
    content: url(images/cosmos/c-white.png);
    width: 2em;
    height: 2em;
}

.c-yellow {
    display: block;
    content: url(images/cosmos/c-yellow.png);
    width: 2em;
    height: 2em;
}

/* HYACINTHS */

.h-blue {
    display: block;
    content: url(images/hyacinth/h-blue.png);
    width: 2em;
    height: 2em;
}

.h-orange {
    display: block;
    content: url(images/hyacinth/h-orange.png);
    width: 2em;
    height: 2em;
}

.h-pink {
    display: block;
    content: url(images/hyacinth/h-pink.png);
    width: 2em;
    height: 2em;
}

.h-purple {
    display: block;
    content: url(images/hyacinth/h-purple.png);
    width: 2em;
    height: 2em;
}

.h-red {
    display: block;
    content: url(images/hyacinth/h-red.png);
    width: 2em;
    height: 2em;
}

.h-white {
    display: block;
    content: url(images/hyacinth/h-white.png);
    width: 2em;
    height: 2em;
}

.h-yellow {
    display: block;
    content: url(images/hyacinth/h-yellow.png);
    width: 2em;
    height: 2em;
}

/* LILIES */

/* MUMS */

/* PANSIES */

.p-blue {
    display: block;
    content: url(images/pansy/p-blue.png);
    width: 2em;
    height: 2em;
}

.p-orange {
    display: block;
    content: url(images/pansy/p-orange.png);
    width: 2em;
    height: 2em;
}

.p-purple {
    display: block;
    content: url(images/pansy/p-purple.png);
    width: 2em;
    height: 2em;
}

.p-red {
    display: block;
    content: url(images/pansy/p-red.png);
    width: 2em;
    height: 2em;
}

.p-white {
    display: block;
    content: url(images/pansy/p-white.png);
    width: 2em;
    height: 2em;
}

.p-yellow {
    display: block;
    content: url(images/pansy/p-yellow.png);
    width: 2em;
    height: 2em;
}

/* ROSES */

/* TULIPS */

/* WINDFLOWERS */

.w-blue {
    display: block;
    content: url(images/windflower/w-blue.png);
    width: 2em;
    height: 2em;
}

.w-orange {
    display: block;
    content: url(images/windflower/w-orange.png);
    width: 2em;
    height: 2em;
}

.w-pink {
    display: block;
    content: url(images/windflower/w-pink.png);
    width: 2em;
    height: 2em;
}

.w-purple {
    display: block;
    content: url(images/windflower/w-purple.png);
    width: 2em;
    height: 2em;
}

.w-red {
    display: block;
    content: url(images/windflower/w-red.png);
    width: 2em;
    height: 2em;
}

.w-white {
    display: block;
    content: url(images/windflower/w-white.png);
    width: 2em;
    height: 2em;
}