body {
    font-family: sans-serif;
}

/* SECTIONS */

.section-container {
    background: #fff;
}

.section-header {
    text-align: center;
}

/* LAYOUTS */

canvas {
    border: 1px dotted #000;
    border-radius: 25px;
    padding: 16px;
}

/* TEXT COLORING */

.pink {
    background: #ea9999;
    color: #fff;
}

.red {
    background: #cc0000;
    color: #fff;
}

.orange {
    background: #f6b26b;
    color: #000;
}

.yellow {
    background: #ffd966;
    color: #000;
}

.green {
    background: #93c47d;
    color: #000;
}

.blue {
    background: #6d9eeb;
    color: #fff;
}

.purple {
    background: #8e7cc3;
    color: #fff;
}

.black {
    background: #000;
    color: #fff;
}

.white {
    background: #d9d9d9;
    color: #000;
}